.godfather-entry{
  $tooltip-size: 6px;
  .godfather-animation{
    animation: godfather-enter 200ms ease-out;
    line-height: 1.42;
    border-radius: 4px;
    box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.4);
  }

  .godfather-container{
    display: flex;
  }

  .godfather-inner-container{
    padding: 1em;
    max-width: 300px;
  }

  .godfather-content-container{
  }

  .godfather-actions{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  button{
    font-size: .75em;
    cursor: pointer;
    padding: 5px 15px;
    color: inherit;
    background: rgba(white,0.1);
    border-radius: 2px;
    transition: background 100ms ease-out;

    &:hover{
      background: rgba(white, .2);
    }
  }

  .godfather-image{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(white, .05);
    width: 100px;
  }

  .godfather-title{
    font-weight: bold;
  }

  hr{
    border: none;
    border-top: 1px solid currentColor;
    opacity: .2;
    margin: .5em 0;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $tooltip-size;
    border-color: currentColor;
  }

  &[x-placement^="top"] {
    margin-bottom: $tooltip-size;

    .tooltip-arrow {
      border-width: $tooltip-size $tooltip-size 0 $tooltip-size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -$tooltip-size;
      left: calc(50% - $tooltip-size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: $tooltip-size;

    .tooltip-arrow {
      border-width: 0 $tooltip-size $tooltip-size $tooltip-size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -$tooltip-size;
      left: calc(50% - $tooltip-size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: $tooltip-size;

    .tooltip-arrow {
      border-width: $tooltip-size $tooltip-size $tooltip-size 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -$tooltip-size;
      top: calc(50% - $tooltip-size);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: $tooltip-size;

    .tooltip-arrow {
      border-width: $tooltip-size 0 $tooltip-size $tooltip-size;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -$tooltip-size;
      top: calc(50% - $tooltip-size);
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.godfather-hint{
  $size: 20px;
  $borderSize: 2px;
  $offset: -5px;
  cursor: pointer;
  position: absolute;
  opacity: .9;
  top: $offset;
  right: $offset;
  border-radius: 50%;
  border: $borderSize solid currentColor;
  width: $size;
  height: $size;

  &:before{
    content: '?';
    background: white;
    display: block;
    border-radius: 50%;
    width: $size - ($borderSize*2);
    height: $size - ($borderSize*2);
    position: relative;
    font-size: 13px;
    z-index: 1;
    text-align: center;
    line-height: $size - ($borderSize*2);
  }

  &:after{
    content: '';
    flex-shrink: 0;
    position: absolute;
    top: -$borderSize;
    right: -$borderSize;
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: currentColor;
    animation: pulse 2s infinite ease-out;
  }

  @keyframes pulse{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.5);
      opacity: 0;
    }
  }
}

@keyframes godfather-enter{
  0%{
    opacity: 0;
    transform: translateY(10px)
  }
}
